$colors: (
    gray: #CDCDCD,
);

$themes: (
    light: (
        bg: #F7F7F7,
        text: #fff,
        text-crossed: #fff,
        input: #fff,
        input-shadow: #fff,
        input-text: #fff,
    ),
    dark: (
        bg: #252525,
        text: #fff,
        text-crossed: #fff,
        input: #fff,
        input-shadow: #fff,
        input-text: #fff,
    )
);

$breakpoints: (
    mobile-max: 767px,
    tablet-min: 768px,
    tablet-max: 1023px,
    desktop-min: 1024px
);

@function generate-theme-vars($theme-map) {
    $vars: ();
    @each $key, $value in $theme-map {
        $vars: map-merge($vars, ( #{$key}: $value ));
    }
    @return $vars;
}

:root, [data-theme='light'] {
    $light-vars: generate-theme-vars(map-get($themes, light));
    @each $key, $value in $light-vars {
        --#{$key}-color: #{$value};
    }

    //

    @each $key, $value in $breakpoints {
        --#{$key}: #{$value};
    }
}

[data-theme='dark'] {
    $dark-vars: generate-theme-vars(map-get($themes, dark));
    @each $key, $value in $dark-vars {
        --#{$key}-color: #{$value};
    }
}
